body {
    background: rgba(0, 0, 0, 0.3) url(/img/background-modify.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

form {
    position: relative;
    top: 100px;
    margin: auto;
    text-align: center;
    width: fit-content;
}

form input#title {
    width: 300px;
    text-align: center;
    margin: auto;
}

form textarea#textarea {
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
    color: goldenrod;
    font-size: 3em;

}

a.backtomynews {
    font-size: 3em;
    color: white;
    position: relative;
    top: 50px;
    left: 50px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    padding: 5px;
}

a.backtomynews:hover {
    font-size: 3em;
    color: goldenrod;
    position: relative;
    top: 50px;
    left: 50px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
}

.errors-message {
    text-align: center;
    color: white;
    font-size: 3em;
    margin: 200px;
}

footer {
    font-size: 0.3em;
    position: absolute;
    top: 1000px;
    left: 50px;
    color: white;
}